




@media screen and (max-width:1169px) {
  .container {
    padding: 0 20px;
}

  /* optional-section */
  .card-container {
    padding: 0 20px;
    gap: 10px;
}
.card {
  width: 281px;
  padding: 13px;
}
.card > img {
  width: 146px;
}

}


@media screen and (max-width:1098px){
  .container {
    padding: 0 20px;
}
  /* optional-section */
  .card-container {
    padding: 0 20px;
    gap: 10px;
}
.card {
  width: 281px;
  padding: 13px;
}
.card > img {
  width: 146px;
}


}


@media screen and (max-width:1024px) {
  .container {
    padding: 0 20px;
}
  /* optional-section */
  .card-container {
    padding: 0 20px;
    gap: 10px;
}
.card {
  width: 281px;
  padding: 13px;
}
.card > img {
  width: 146px;
}

}




@media screen and (max-width:992px) {
/* header-section */
header {
  padding: 0 20px;
}

 /* destination-section */
 .destination-section {
  padding: 0 20px;
}
 
 
  /* service-section */

  .service-section {
    padding: 0 20px;
}
/* disocunt-section */
.discount-section {
  padding: 0 20px;
}

/* tours-container */
.tours-container {
  padding: 0 20px;
  justify-content: space-around;

}
.contact-form {
  width: 45%;
}
.contact-img {
  width: 50%;
}
.tours-text {
  width: 418px;
}
.video-title {
  left: 0%;
  font-size: 24px;;
}
.place-video > iframe {
  width: 450px;
  height: 424px;
  border-radius: 16px;
  background: linear-gradient( 180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100% );
}
  /* optional-section */
  .card-container {
    padding: 0 20px;
    gap: 10px;
}
.card {
  width: 281px;
  padding: 13px;
}
.card > img {
  width: 146px;
}

}

@media screen and (max-width:600px) {

/* shared-section-title */
.shared-section-title {
  width: 335px;
  margin: 0 auto;
}
.shared-section-title > h1 {
  font-size: 30px;
}
.shared-section-title > p {
width: 335px;
  text-align: center;
}

button.shared-btn.tours-btn {
  width: 105px;
}
/* navbar */
  .navbar-logo {
    gap: 263px;
    margin-bottom: 20px;
}
.responsive-logo>img {
  width: 27px;
  height: 28px;
}
.travel-span {
  font-size: 15px;
}
#menu-icon {
    font-size: 22px;
    margin-top: 4px;
    display: block;

}
.navbar-section {
  flex-direction: column;
}
.navbar{
  display: none;
}
  .container {
      padding: 0 33px;
  }
  .navbar-logo > h1 {
      margin-bottom: 20px;
  }
/* --------------banner-section======================================= */
.banner-item>h1 {
  font-size: 22px;
  /* margin: 0 auto; */
  /* width: 222px; */
  /* margin: 0 auto; */
  margin-top: 20px;
}
.banner-item>p{
  font-size: 14px;
  line-height: 21px;
  width: 304px;
  margin: 26px auto;
  
}
.banner-section {
  /* text-align: center; */
  margin: 0 auto;
}
.input-item {
  width: 255px;
  height: 47px;
  margin-right: 0px;
  padding: 0 15px;
}
/* input */
.banner-input {
  width: 287px;
  /* height: 52px; */
  padding: 21px 0;
  margin: 0 auto;
}
  form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 18px;
  }
  .banner-input >form>input select .banner-btn {
    width: 255px;
    height: 52px;
}
.shared-btn ,.banner-btn {
  width: 255px;
  height: 40px;
  font-size: 14px;
}

/* =============================
       TOURS_SECTION
================================*/

.tours-container {
  flex-direction: column;
  margin-top: 24px;
  align-items: center;
}
.tours-text {
  width: 335px;
  margin: 0 auto;
}
  .tours-text>h1 {
      font-size: 20px;
  }
  .tours-text>p {
    width: 335px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 14px;
}
  .tours-text>ul {
      padding: 12px 17px;
      margin: -16px 0;
  }
  .tours-text>ul>li {
    margin: 10px 0;
    font-size: 15px;
    width: 335px;
}
  
  .tours-img>img {
      width: 335px;
      margin-top: 37px;
  }
/* =============================
       DESTINATION_SECTION
================================*/
.grid-container{
  margin: 0 auto;
  text-align: center;
  width: 335px;
}
.grid-container >div>img{
  width: 335px;
  height: 175px;
}
.item1{
  width: 335px;
  height: 175px;
}
.item2{
  width: 335px;
  height: 175px;
}
.item3{
  width: 335px;
  height: 175px;
}
.item4{
  width: 335px;
  height: 175px;
}
.item5{
  width: 335px;
  height: 175px;
}
.item6{
  width: 335px;
  height: 175px;
}
.item7{
  width: 335px;
  height: 175px;
}
.item1 {
  width: 335px;
  object-fit: cover;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
  .item1 {
      grid-column: 1/8;
      /* width: 573px;
    height: 300px; */
    }
    .item2 {
      grid-column: 1/8;
      /* width: 573px;
      height: 300px; */
    }  
    .item3 {
      grid-column: 1/8;
      /* width: 374px;
      height: 286px; */
    }
    .item4 {
      grid-column: 1/8;
      /* width: 474px;
      height: 286px; */
    }
    .item5 {
      grid-column: 1/8;
      /* width: 274px;
      height: 286px; */
    }
    .item6 {
      grid-column: 1/8;
      /* width: 473px;
    height: 300px; */
    }
    .item7 {
      grid-column: 1/8;
      /* width: 673px;
    height: 300px; */
    }
/* =============================
      SERVICES_SECTION
================================*/
.service-top-card{

  flex-direction: column;
}
.service-card1{
  width: 335px;
height: 289px;
margin: 0 auto ;
}
.service-card1>img{
  width: 48px;
height: 48px;
}
.service-card1>h1{
  font-size: 20px;
}
.service-card1>p{
  font-size: 14px;
 line-height: 24px;
}

/* =============================
      SERVICES_SECTION
================================*/
.discount-img-section {
  width: 335px;
  height: 500px;
  margin: 24px auto;
}
.discount-card {
  width: 303px;
  height: 297px;
  margin: 0 auto;
  padding: 24px;
}
.discount-text>p {
  font-size: 14px;
  line-height: 21px;
  width: 254px;
}
.discount-text>h1 {
  font-size: 20px;
  margin: 5px 0;
}
.discount-text>h2 {
  font-size: 16px;
}
.discount-btn{
margin: 20px 0;

}
.discount-icon>i>span {
  color: #131318;
  padding: 0 10px;
  font-size: 9px;
}
.discount-icon {
  display: flex;
  gap: 9px;
  flex-direction: column;
}
/* =============================
       PLACE_SECTION_SECTION
================================*/
.video-title {
  top: 42%;
  left: 0%;
  color: white;
  font-size: 18px;

}
.place-video>iframe {
  width: 335px;
  height: 200px;
margin-top: 24px;
}
.place-btn{
  margin-bottom: 10px;
}
/* =============================
       PLACE_SECTION_SECTION
================================*/
.contact-form {
  width: 335px;
  height: 353px;
  padding: 23px;}
.contact-form >p {
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.contact-form >form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.contact-form >form >input{
  width: 288px;
height: 52px;
margin-bottom: 17px;
}
.contact-img{
  width: 335px;
height: 300px;
margin-top: 24px;
}
.parcent-text {
  width: 214.023px;
  height: 79.268px;
}

.contact-btn{
display: block;
width: 100%;
}
.parcent-text {
  bottom: 32px;
  right: 5px;
  padding: 10px;
}
.parcent-text >h3 {
  color: rgba(255, 255, 255, 0.678);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}
.parcent-text>h1 {

  font-size: 20px;
}
/* =============================
      BONSU_SECTION
================================*/
.bonus-style>h1{
  font-size: 24px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.card {
  margin-top: 10px;
}
.card>img {
  width: 237px;
}

.bonus-style> h1 {
  margin-bottom: 2px;
}

.bonus-style {
  color: #ff5400;
  font-size: 24px;
 
}
/* =============================
      FOOTER_SECTION
================================*/
.footer-section.container {
  height: 100%;
  margin-top: 54px;
}
.navbar-logo.footer-logo {
  display: flex;
  gap: 20px;
  padding: 28px 0;
}
.navbar-logo.footer-logo>img {
  width: 27px;
  height: 33px;
}
.navbar-logo.footer-logo h1  {
  font-size: 24px;
}
span.travel-span.footer-span {
  font-size: 24px;
}
.footer-item > p {
  margin: 24px 0;
}
.footer-item {
  text-align: center;
  margin-top: 11px;
}
.footer-icon>i {
  font-size: 36px;
  margin: 0px 16px;
}
.horizontal {
  width: 200px;
  margin: 2px auto;
}
.horizontal {
  width: 200px;
  margin: 5px auto;
}


}





@media screen and (max-width:390px){
  .container {
    padding: 0 1px;
}

}















/* @media screen and (max-width:375px){
  .container {
      padding: 0 15px;
  }

}
 */




/* ================= */

/* @media screen and (max-width:375px){
    .container {
        padding: 0 15px;
    }

}

@media screen and (max-width:325px){
    .container {
        padding: 0 15px;
    }
    .grid-container{
        text-align: center;
    }
    .grid-container >div>img{
        width: 247px;
        height: 175px;
    }



} */
