
/* gogle-font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --orange: #ff5400;
  --black: #131318;
  --text: rgba(19, 19, 24, 0.7);
  --white: #fff;
}
 /* shared..=============================. */
.shared-btn {
  background-color: var(--orange);
  border-radius: 8px;
  width: 174px;
  height: 52px;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
}
.shared-section-title {
  text-align: center;
  color: var(--black);
  text-align: center;
}
.shared-section-title > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.shared-section-title > p {
  color: var(--text);
  width: 600px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0;
  text-align: center;
  display: block;
  margin: 13px auto;
}
.shared-btn:hover{
  background-color: #e45203;
  transition: 2ms;
  cursor: pointer;
}
nav>ul>li>a:hover{
  color: rgb(233, 59, 28);
  transition: 2s;

}
.active:hover{
  color: black;
}
::selection{
  color: #e45203;
  transition: 1s;
}
/* =============================
         HEADER_SECTION
================================*/
header {
  margin-top: 50px;
}

/* nav-upper */
.nav-upper-container{
  display: none;
}

.navbar-logo {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.responsive-logo>h1 {
  color: black;
}
.responsive-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-icon{
  display: none;
}
.navbar-logo > img {
  width: 47px;
  height: 58px;
}
.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo > h1 {
  color: var(--black);
}
.travel-span {
  color: var(--orange);
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.navbar > nav > ul {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 44px;
}
.navbar > nav > ul > li {
  list-style: none;
}
.active {
  color: var(--orange);
}
nav > ul > li > a {
  color: var(--black);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
}
/* =============================
         BANNER_SECTION
================================*/
.banner-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../img/Group\ 13\ \(1\)\ \(1\).png");
  width: 100%;
  height: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}
.banner-item > h1 {
  font-size: 64px;
  font-weight: 800;
  margin: 0 auto;
}
.banner-item > p {
  width: 676px;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0;
  margin: 14px auto;
}
.banner-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 868px;
  padding: 24px;
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
}
.input-item {
  color: #5a5a5d;
  width: 174px;
  height: 52px;
    margin-right: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  border: navajowhite;
  padding: 0 13px;
}
.search-btn {
  width: 24px;
  height: 24px;
}
/* =============================
         TOURS_SECTION
================================*/
.tours-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.tours-text {
  width: 550px;
}
.tours-text > h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 4px 0;
}
.tours-text > p {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  line-height: 26px; 
  margin: 10px 0;
}
.tours-text > ul {
  padding: 28px;
  margin: 17px 0;
}
.tours-text > ul > li {
  color: rgba(19, 19, 24, 0.7);
  margin: 12px 0;
}
.tours-img > img {
  width: 540px;
}
/* =============================
         DESTINATION_SECTION
================================*/
.destination-section {
  margin-top: 50px;
}
.grid-container {
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 24px;
}
.grid-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item1 {
  grid-column: 1/5;
}

.item2 {
  grid-column: 5/8;
}
.item3 {
  grid-column: 1/3;
}
.item4 {
  grid-column: 3/6;
}
.item5 {
  grid-column: 6/8;
}

.item6 {
  grid-column: 1/4;
}

.item7 {
  grid-column: 4/8;
}

/* shared-item */
.shared-item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  border-radius: 16px;
}

.item1 {
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle\ 5.png") ;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item2{

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 8.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 6.png");
  height: 286px;
  background-repeat: no-repeat;
  background-size: cover;

}
.item4 {

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 7.png");
  height: 286px;
  background-repeat: no-repeat;
  background-size: cover;

}
.item5 {

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 9.png");
  height: 286px;
  background-repeat: no-repeat;
  background-size: cover;

}
.item6 {

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 11.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item7 {

  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Rectangle 10.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;

}

.item2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =============================
         SERVICe_SECTION
================================*/
.service-section {
  margin-top: 24px;
}
.service-top-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}
.service-card1 {
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
}
.service-card1 > img {
  max-width: 64px;
  height: 64px;
}
.service-card1 > h1 {
  color: var(--black);
  font-size: 24px;
  margin: 22px 0;
}
.service-card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.service-card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.service-bottom-card .service-card1 {
  margin: 0 auto;
}
/* =============================
         DISCOUNT_SECTION
================================*/
.discount-section {
  margin-top: 46px;
}
.discount-img-section {
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(../img/Group\ 40.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 46px;
}
.discount-card {
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin-right: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.discount-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.discount-icon>i>span {
  font-size: 10px;

}
.discount-icon {
  display: flex;
  gap: 59px;
}
.discount-icon>i{
  color: #ff5400;
}
.discount-icon>i>span{
  color: #131318;
  padding: 0 10px;
}
.shared-icon {
  width: 24px;
  height: 24px;
  color: var(--orange);
}
.shared-icon-text {
  font-size: 14px;
  color: #5a5a5d;
}
.discount-text > i {
  width: 24px;
  height: 24px;
  color: #ff5400;
}
.discount-text > {
  color: #5a5a5d;
  font-size: 16px;
}
.discount-text > h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 16px 0;
}

.discount-text > p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.discount-text > h2 {
  color: var(--orange);
  font-size: 20px;
  font-weight: 800;
  margin: 16px 0;
}
.discount-text > h2:hover{
  color: #5a5a5d;
}
.discount-img-section2 {

  
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../img/hotel2.jpg) ;

 background-repeat: no-repeat;
  background-size: cover; 
  justify-content: start;
}
.discount-card2 {
  margin-left: 56px;
}
.discount-img-section3 {
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url("../img/Group 39.png") ;

}
.discount-btn {
  text-align: center;
}
/* =============================
         PLACE_SECTION_SECTION
================================*/
.place-text > h1 {
  margin-bottom: 30px;
}
.place-text > p {
  margin: 10px 0;
}
.place-text > ul {
  padding: 13px;
  margin: 4px 0;
}
.place-text > ul > li {
  color: var(--black);
  margin: 23px 0;
}
.place-video.tours-img {
  position: relative;
}
.video-title {
  position: absolute;
  top: 35%;
  left: 0%;
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
.place-video > iframe {
  width: 610px;
  height: 424px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
}
/* =============================
         CONTACT_SECTION_SECTION
================================*/
.contact-form {
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.contact-img {
  border-radius: 16px;
  background: url("../img/Rectangle 8 (1).png"), lightgray 50% / cover no-repeat;
  width: 672px;
  height: 422px;
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}
.contact-form {
  padding: 40px;
}
.contact-form h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}
.contact-form p {
  color: #5a5a5d;
  margin-bottom: 46px;
  font-size: 16px;
  font-weight: 400;
}
.contact-form > form > input {
  padding: 16px;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-weight: 400;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.parcent-text {
  color: #fff;
  border-radius: 16px;
  background: #ff5400;
  width: 308px;
  height: 120px;
  transform: rotate(-19.628deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 48px;
  right: 11px;
}
.parcent-text > h3 {
  color: rgba(255, 255, 255, 0.678);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
}
.parcent-text > h2 {
  font-size: 32px;
  font-weight: 800;
}
/* =============================
       OPTIONAL-SECTION
================================*/
.bonus-section {
  margin-top: 46px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card {
  width: 284px;
  background: rgb(241, 241, 241);
  color: white;
  padding: 20px;
  text-align: center;
  transition: 1.5s;
  margin-top: 40px;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card > img {
  width: 260px;
  height: auto;
  margin-bottom: 20px;
}
.card-title > h5 {
  font-size: 16px;
  color: #131318;
  margin-bottom: 20px;
}
.card-title > h1 {
  font-size: 20px;
  color: #ff5400;
}
.card-title > h1:hover{
color: black;
}
/* =============================
       FOOTERSECTION
================================*/
footer {
  background: rgba(19, 19, 24, 0.05);
}
.footer-section.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 502px;
  margin-top: 54px;
}
.footer-item {
  text-align: center;
  margin-top: 34px;
}

.footer-item > p {
  margin: 70px 0;
}
.footer-icon > i {
  color: #131318;
  font-size: 36px;
  margin:  36px;
  padding-bottom: 20px ;
}
.footer-icon > i:hover{
  color:tomato;
  transform:rotate3d(90deg);
    transition:1s;
    font-size:20px;
  }
.horizontal{
width: 872px;
margin: 0 auto;
}
.horizontal:hover{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}